body{
    background-color: black;
    padding: 10px;
    display: flex;
}
#mainDiv{
    padding: 10px;
    height: 400px;
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
   
}
#keyInput{
    flex-grow: 7;
}
.textArea{
    background-color: black;
    border: 5px solid gold;
    flex-grow: 4;
    margin: 5px;
    resize: none;
    color: white;
}
#keyArea{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.button{
    border: 5px solid gold;
    flex-grow: 1;
    margin: 5px;
    background-color: black;
    color: gold;
}
p{
    flex-grow: 1;
    color: white;
    width: 600px;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}