body {
    background-color: black;
    padding: 50px;
    display: flex;
}

#mainDiv {
    height: 400px;
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

#keyInput {
    flex-grow: 7;
}

#textInput {
    flex-grow: 10;
}

.textArea {
    background-color: black;
    border: 5px solid white;
    margin: 5px;
    resize: none;
    color: white;
}

#keyArea {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.button {
    border: 5px solid gold;
    flex-grow: 1;
    margin: 5px;
    background-color: black;
    color: gold;
    font-weight: 900;
}

p {
    flex-grow: 1;
    color: white;
    width: 600px;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}